
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
  margin: 0 100px;
  color: black;
  font-weight: normal;
  font-family: 'DM Mono','Inconsolata','Courier',monospace;
  font-size: 14px;
  line-height: 24px;

}

.header{
  margin-top:100px;
  padding-bottom: 40px;
}

a {
  color: blue;
}
/* font styles */

h2, h3{
  font-family: 'DM Mono','Inconsolata','Courier',monospace;
  font-size: 14px;
}

h2 {
  padding-top: 20px;
}

p, li {

}

.tech {
  background-color: black;
  color:white;
  padding: 0px 4px;
}

.dueSchedule {
  font-family: 'DM Mono','Inconsolata','Courier',monospace;
  font-size: 14px;
  background-color: yellow;
  margin-right:40px;
}

.highlight{
  background-color: pink;
}

/* table styles */
#schedule {
  border-top: 1px solid black;
  margin-bottom: 100px;
}

.row {
  border-bottom: 1px solid black;
}

.item{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 20px 0px;
  cursor: pointer;
}

.item:hover{
  color: blue;

}

.item-text {
  font-family: 'DM Mono','Inconsolata','Courier',monospace;
  font-size: 14px;
  font-weight: bold;
  padding-right: 30px;
  width:140px;
}

.item-heading  {
  padding: 10px 0px;
}

.item-heading, .header{
  font-weight: normal;
  font-family: Times, 'Times New Roman', serif;
  font-size:24px;
}

/* Closable button inside the container tab */
.caret {
  float: right;
  color: black;
  font-size: 24px;
  margin-top: -70px;
  padding: 10px;
  cursor: pointer;
}

.contents {
  padding: 0px 0px 40px 0px;
  max-width: 600px;
}


/* ASSIGNMENTS PAGE SPECIFIC */
.due {
  background-color: yellow;
  width:90px;
  margin-right:40px;
  text-align: center;
}

.item-project {
  font-family: 'DM Mono','Inconsolata','Courier',monospace;
  font-size: 14px;
  font-weight: bold;
  /* padding-right: 30px; */
  width:160px;
}

.assignments{
  margin-left:130px;

}

/* SCHEDULE PAGE SPECIFIC */

.schedule{
  margin-left:65px;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0 40px;
  }

  .item-heading{
    width: 100%;
  }
  .contents{
    margin-left: 0px;
  }

}
