<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="accordion.css" media="screen"/>

</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>
<body>

<div class="header">
  &#10000; Assignments
</div>

<div id="schedule">

<div class = "row" v-for="(project,index) in projects">
    <div class = "item" @click="project.shown = !project.shown">
      <div class ="due">{{project.date}}</div>
      <div class ="item-project">{{project.project}}</div>
      <div class ="item-heading">{{project.name}}</div>
    </div>

    <!-- <div class="caret">X</div> -->

    <!-- hidden content starts here -->
    <div class = "contents assignments" v-if="project.shown==true">
      <div v-html="project.content"></div>

    </div>
</div>
<!-- end row element -->

</div>


<script>

var schedule = new Vue({
    el: "#schedule",
    data: {
      projects: [
            {
              shown:false,
              date:"Due 3/01",
              project:"Project 0",
              name:"Transcription",
              content:`
              <li>Transcribe anything, 500+ words
              <li>Share reflections of transcribing on a blog post`
            },
          {
          		shown:false,
              date:"Due 3/15",
          		project:"Project 1",
              name:"Crowdsourced text performance",
          		content:`
              <li>Any medium & means of crowdsourcing — web, cut up, googledocs, google forms, copy paste</li>
              <li>Read out loud a portion of your text</li>
              <li>Do not write your own text</li>
              `

          	},
          	{
          		shown:false,
              date:"Due 3/29",
          		project:"Project 2",
              name:"Web based text performance",
          		content:`
              <li>Use randomness</li>
              <li>Republish an existing corpus or write your own</li>
              <li>consider the gesture of reading: scrolling, clicking, moving your body?</li>
`
          	},
          	{
          		shown:false,
              date:"4/07–4/26",
          		project:"Project 3",
              name:"Sketch Series",
          		content:`
              <li>Sketch 3.1: Scale</li>
              <li>Sketch 3.2: Body</li>
              <li>Sketch 3.3: Work</li>
              <li>Sketch 3.4: Secrets</li>
              `
          	},
          	{
          		shown:false,
              date:"Due 5/17",
          		project:"Final Project",
              name:"writing()",
          		content:`
              <p>Create a new tool or procedure for writing. Consider relationship to the body. Create something meant to be read out loud.  We will have a zoom reading. Consider how language is transmitted through pixel space.</p>
              `
          	},

      ]}
})


</script>

</body>
</html>
