
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 80px;
  color: black;
  font-weight: normal;
  /* font-family: 'DM Mono','Inconsolata','Courier',monospace; */
  /* font-family: 'Courier Prime','Courier',monospace; */
  font-family: Arial, sans-serif;

  font-size:17px;
  line-height: 28px;

}

/* table styles */
#schedule, #projects {
  /* border-top: 1px solid silver; */
  margin-bottom: 100px;
  max-width: 720px;
}

.header{
  padding-bottom: 40px;
  max-width: 720px;

}

.subtitle {
  font-family: 'Courier Prime','Courier',monospace;
  font-size: 14px;
  padding-bottom: 30px;

}

a {
  color: blue;
}
/* font styles */

h2 {
  font-family: 'Courier Prime','Courier',monospace;
  font-size: 14px;
  font-weight: normal;
  padding-top: 20px;
  text-transform: uppercase;

}
h3 {
  font-weight: normal;
  text-decoration: underline;
  font-size:16px;

}

/* FONT SPAN styles */

.tech {
  font-family: 'Courier Prime','Courier',monospace;
  font-size: 14px;
  background-color: black;
  color:white;
  padding: 2px 4px;
  text-transform: uppercase;


}

.dueSchedule {
  font-family: 'Courier Prime','Courier',monospace;
  font-size: 14px;
  background-color: yellow;
  margin-right:40px;
  padding: 0px 4px;
}

.highlight{
  background-color: gold;
  padding: 2px 4px;
}

.imageCaption {
  font-family: 'Courier Prime','Courier',monospace;
  font-size: 12px;
  font-style:italic;
  max-width: 400px;
}

.row {
  border-bottom: 1px dotted gray;
}

.item{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 10px 0px;
  cursor: pointer;
}

.item:hover{
  color: blue;

}

.item-text {
  font-family: 'Courier Prime','Courier',monospace;
  font-size: 14px;
  padding-right: 30px;
  width:140px;
}

.item-heading  {
  padding: 15px 0px;
}

.item-heading, .header{
  font-weight: normal;
  /* font-family: Times, 'Times New Roman', serif; */
  font-family: Arial, sans-serif;
  font-size:22px;
}

/* Closable button inside the container tab */
/* .caret {
  float: right;
  color: black;
  font-size: 24px;
  margin-top: -70px;
  padding: 10px;
  cursor: pointer;
} */

.contents {
  padding: 0px 0px 40px 0px;
  max-width: 600px;
}


/* ASSIGNMENTS PAGE SPECIFIC */
/* .due {
  font-size: 14px;
  background-color: yellow;
  width:90px;
  margin-right:40px;
  font-family: 'Courier Prime','Courier',monospace;
  text-align: center;

}

.item-project {
  font-family: 'Courier Prime','Courier',monospace;
  font-size: 14px;
  /* padding-right: 30px; */
  /* width:160px;
}

.assignments{
  margin-left:130px;

} */


@media only screen and (max-width: 768px) {
  body {
    margin: 0 40px;
  }


  .imageCaption {
    width:100%;
  }

  .item-heading{
    width: 100%;
    line-height: 40px;
    padding: 0;

  }
  .contents{
    margin-left: 0px;
  }

  .dueSchedule {
    margin: 5px 0px 10px 0;
}

}
