<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="accordion.css" media="screen"/>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>
<body>

<div class="header">
  &#10000; Schedule
  <h3>Still a work in progress. Link to <a href="https://docs.google.com/document/d/14twAX6Yev09Ub92XVHaRXwEOfLFVD1WVBWIv8IFky38/edit#heading=h.d13jzau21mnh" target="_blank">schedule notes</a>.
  </h3>
</div>


<div id="schedule">

<div class = "row" v-for="(week,index) in weeks">
    <div class = "item" @click="week.shown = !week.shown">
      <div class ="item-text">{{week.date}} &nbsp;&nbsp; Week {{index+1}}</div>
      <div class ="item-heading">{{week.theme}}</div>
    </div>

    <!-- <div class="caret">X</div> -->

    <!-- hidden content starts here -->
    <div class = "contents schedule" v-if="week.shown==true">
      <h3><span class="highlight">
        In Class</span></h3>
        <!-- This is H3 on purpose!! -->
      <div v-html="week.inClass"></div>

      <h2><span class="highlight">
        Assignments</span></h2>
      <div v-html="week.afterClass"></div>

      <h2><span class="highlight">
        Links</span></h2>
      <div v-html="week.bonus"></div>
    </div>
</div>
<!-- end row element -->

</div>


<script>

var schedule = new Vue({
    el: "#schedule",
    data: {
      shownitem: 0,
      weeks: [
            {
          		shown:false,
              date:"2/22",
          		theme:"OK Computational Poetics",
          		inClass:
                `Create shared working definition of computational poetics
                <br>
                <li>Introduce projects
                <li>Class community guidelines
                <li>Discuss transcription
                <li>Get set up`
                ,
              afterClass:`
              <h3>Getting Set Up</h3>
              <li>Collect a list of corpuses. Add to class corpus list
              <li>Create a list of tools and computational practices which you feel are within your skill set
              <li>Sign up for presentations next item
              <br>
              <h3>Project 0</h3>
              Transcription assignment

              <h3>Reading</h3>
              <li>Cyborg Manifesto
              <li>Decolonization is not a metaphor (p-)
              `,
              bonus:``
          	},
          	{
          		shown:false,
              date:"3/01",
          		theme:"Computers, Language, Society",
          		inClass:``,
              afterClass:``,
              bonus:``,
          	},
          	{
          		shown:false,
              date:"3/08",
          		theme:"Programs + Poems",
          		inClass:``,
              afterClass:``,
              bonus:``,
          	},
          	{
          		shown:false,
              date:"3/15",
          		theme:"Forking Paths, Hypertext Wormholes",
          		inClass:``,
              afterClass:``,
              bonus:``,
          	},
            {
          		shown:false,
              date:"3/22",
          		theme:"Uncreative Writing, Creative Reading",
          		inClass:``,
              afterClass:``,
              bonus:``,
          	},
            {
          		shown:false,
              date:"3/29",
          		theme:"Scale, Material, Data",
          		inClass:``,
              afterClass:``,
              bonus:``,
          	},
            {
          		shown:false,
              date:"4/05",
          		theme:"Writing + Work",
          		inClass:``,
              afterClass:``,
              bonus:``,
          	},
            {
          		shown:false,
              date:"4/12",
          		theme:"Body + Performance",
          		inClass:``,
              afterClass:``,
              bonus:``,
          	},
            {
          		shown:false,
              date:"4/19",
          		theme:"Secrets, Embeddings, Encodings",
          		inClass:``,
              afterClass:``,
              bonus:``,
          	},
            {
          		shown:false,
              date:"4/26",
          		theme:"My/Your/Our Voice",
          		inClass:``,
              afterClass:``,
              bonus:``,
          	},
            {
          		shown:false,
              date:"5/03",
          		theme:"Public, Private",
          		inClass:``,
              afterClass:``,
              bonus:``,
          	},
            {
          		shown:false,
              date:"5/10",
          		theme:`—`,
          		inClass:``,
              afterClass:``,
              bonus:``,
          	},
            {
          		shown:false,
              date:"5/17",
          		theme:"Final Crits",
          		inClass:``,
              afterClass:``,
              bonus:``,
          	}
      ]}
})


</script>

</body>
</html>
