/*
Binder
Thanks to: Clement Valla
Version: 1.0
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*{
 	margin: 0;
	padding: 0;
 }
html {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
}

#background-site {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:1;
}

#background-site iframe {
	width: 100%;
	height: 100%;
	border: none;
	overflow: scroll;
}

#menu a {
  color: black;
  text-decoration: none;
}
#menu {
	position: fixed;
	right: 50px;
	top: 10%;
	z-index:10;
  width:250px;

	padding: 20px;
  padding-top:25px;

	font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  font-family: 'DM Mono','Inconsolata','PT Sans','Courier',monospace;

  letter-spacing: 0.5px;
  box-shadow: 5px 5px 0px black;
  border-radius: 8px;

	cursor: move;
	border: solid 2px black;
	background-color: white;
}

#clickable{
  display: none;
}

.title{
  letter-spacing: 1px;
  font-size: 30px;
  line-height: 35px;
  padding-bottom: 10px;
  font-weight: normal;
  font-family:'Times New Roman', Times, serif;
}

#description {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  display: block;
}


#binder-clip{
	margin-top: -43px;
    position: fixed;
    margin-left: 20px;
    z-index: 20;
    -ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    transform: rotate(-27deg);
}

#navigation {
	margin: 0;
	padding:0;
	list-style-type: none;
}

#navigation li{
	padding:0;
	margin:0;
	width:auto;
}

/* #navigation a, div.about{
	color: inherit;
	padding: 0;
	text-decoration: none;
	padding: 1px;
} */

#navigation a.active{
	color: blue;
}
#navigation a:hover{
	opacity: 0.5;
}
#navigation .current_page_item a {
	color: blue;
}



/* Psuedo mobile styles for wide touch devices */
    /* .touch-device #menu {
        position: fixed;

        font-size: 16px;
        line-height: 22px;
        padding: 10px;
        z-index:10;
        left: 2px;
        right: 2px;
        top: 2px;
    }

	.touch-device #logo{
        display: none;
	}
	.touch-device #logo-touch{
        display: block;
    }
	.touch-device #navigation{
		display: none;
		text-indent: -1.5em;
		margin-left:1.5em;
		margin-top: 20px;
	}

	.touch-device #menu-open{
		height: 35px;
		cursor: pointer;
	}


	.touch-device .about{
		width: auto;
		display: none;
	} */


/* Real mobile styles for smaller screens */
@media only screen and (max-width: 768px) {
	body, html{
	position: relative;
		width: 100%;
	}

  #description{
    display: none;
  }

	#background-site{
		-webkit-overflow-scrolling:touch;
		overflow:auto;
	}
	#background-site iframe{
		width: 100%;
		height: 5500px;
		overflow: hidden;
	}
	#menu {
		position: fixed;
    width: auto;
		font-size: 16px;
		line-height: 48px;

		padding: 10px;
		z-index:10;

		left: 4px;
    right: 8px;
		top: 4px;

    /* border-radius: 0px; */

	}

  #binder-clip{
    display: none;
  }
	#navigation{
		display: none;
		text-indent: -1.5em;
		margin-left:1.5em;
    padding: 10px;
		margin-top: 20px;

	}
	#menu-open{
		width: 100%;
		height: 40px;
    padding-left: 10px;
		cursor: pointer;
	}

	#clickable {
	    display:block;
      line-height: 40px;


	}
	.about {
		width: auto;
		display: none;
	}
}
/* @end */
